.title_questions {
  font-size: var(--media-big-font-size);
  color: #fff;
  text-align: center;
  margin-top: .5em;
  margin-bottom: 1.5em;
  font-weight: 500;
  transition: .6s;
  transition-timing-function: ease-out;
  cursor: default;
}

@media screen and (max-width: 340px) {
  .title_questions {
    font-size: var(--h3-font-size);
  }
}

@media screen and (max-width: 576px) {
  .title_questions {
    font-size: var(--h2-font-size);
  }
}

@media screen and (min-width: 767px) {
  .title_questions {
    font-size: var(--big-font-size);
  }
}

@media (min-width: 1024px) and (max-height: 1000px) {
  .title_questions {
    font-size: var(--h2-font2-size);
  }
}

@media screen and (min-width: 1400px) {
  .title_questions {
    font-size: var(--big-font-size);
  }
}